*{margin: 0;padding:0}
body{
    background-color: #f8e645f6;
    padding-top: 15vh;
}
.container{
    width:500px;
    height:auto;
    padding: 40px 30px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 #000;
    margin: auto;


}

 #diss{
    padding:8px 0;
    width:250px;
    background-color: rgb(194, 47, 47);
    text-align: center;
    font-size: 12px;
    color: white;
    position: relative;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-left: 125px;
 }
ul.list{  
    list-style-type: none;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
ul.list li{
    width: 250px;
    margin-bottom: 30px; 
    margin-left:125px;
    margin-top: 30px;;

}
ul.list li input{
    width: 250px;
    text-align: center;
    padding: 8px 0;
    background: none;
   background-color: #fff; 
   border-radius: 5px;
   position: relative;
   color: black; 


}