*{margin: 0;padding:0}
body{
    background-color: #f8e645f6;
    padding-top: 10vh;
}
.container{
    width:500px;
    height:auto;
    padding: 40px 30px;
    background-color: #000;
    border-radius: 30px;
    box-shadow: 0 0 80px 0 #000;
    margin: auto;
}
ul.list{
    list-style-type: none;
    text-align: center;
    
    font-family:impact;
} 


A:link, A:visited {
    background-color: #fff;
    color: #000;
    padding: 14px 25px;
    width: 80px;
    height:auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    border-radius: 20px;
    
  }
  
  A:hover, A:active {
    background-color: #f8e645f6;
  }